body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001529;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00274C;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #015baf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
}

.dropdown-content a {
    color: #5e7285;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.chat-container {
    max-width: 500px;
    /* Ancho máximo del contenedor del chat */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    border: 1px solid #ccc;
    /* Borde alrededor del contenedor */
}

.messages {
    max-height: 300px;
    /* Altura máxima para el área de mensajes */
    overflow-y: auto;
    /* Hace que el área de mensajes sea desplazable si hay demasiados mensajes */
}

.input-container {
    display: flex;
    /* Usa flexbox para alinear el campo de entrada y el botón */
    padding: 10px;
    /* Espacio alrededor del campo de entrada y el botón */
    background-color: #f9f9f9;
    /* Fondo del área de entrada de mensajes */
}

input[type="text"] {
    flex: 1;
    /* El campo de entrada de texto ocupa todo el espacio restante */
    padding: 8px;
    /* Espaciado dentro del campo de entrada */
    border: 1px solid #ccc;
    /* Borde alrededor del campo de entrada */
    border-radius: 5px;
    /* Borde redondeado del campo de entrada */
}

button {
    padding: 8px 15px;
    /* Espaciado dentro del botón */
    margin-left: 10px;
    /* Margen a la izquierda del botón */
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    /* Sin borde alrededor del botón */
    border-radius: 5px;
    /* Borde redondeado del botón */
    cursor: pointer;
    /* Cursor de puntero cuando se pasa por encima del botón */
}

button:hover {
    background-color: #0056b3;
    /* Cambio de color de fondo cuando se pasa el cursor sobre el botón */
}


/* Estilos para el formulario */

form {
    width: 700px;
    display: flex;
}


/* Estilos para cada columna */

.column {
    width: 100%;
    /* Ancho del 50% para cada columna */
    padding: 10px;
    /* Espaciado interno */
    box-sizing: border-box;
    /* Tamaño incluyendo el borde y el relleno */
    display: flex;
    /* Para alinear verticalmente los elementos */
    flex-direction: column;
    /* Alinear elementos en columna */
}


/* Estilos para los campos de texto y el botón de enviar */

input[type="text"],
input[type="email"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    /* Ancho del campo */
    padding: 10px;
    /* Espaciado interno */
    margin-bottom: 10px;
    /* Margen inferior */
    border: 1px solid #5a3535;
    /* Borde */
    border-radius: 20px;
    /* Borde redondeado */
    box-sizing: border-box;
    /* Tamaño incluyendo el borde y el relleno */
}


/* Estilos para el botón de enviar */

input[type="submit"] {
    background-color: #4CAF50;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cursor de puntero */
    transition: background-color 0.3s, transform 0.3s;
    /* Transiciones */
    margin-top: 2px;
}


/* Estilos para el botón de enviar al pasar el cursor */

input[type="submit"]:hover {
    background-color: #47eb4f;
    /* Cambiar color de fondo */
    transform: scale(1.05);
    /* Aumentar tamaño */
    box-shadow: 0 0 10px #3ccf44;
    /* Sombra */
}


/* Estilos para la vista previa de la imagen */

#file-container {
    position: relative;
    /* Posición relativa */
}

#file-preview {
    width: 130px;
    /* Ancho de la imagen previa */
    /* Modifica aquí para ajustar el tamaño de la vista previa de la imagen */
    height: 130px;
    /* Altura de la imagen previa */
    /* Modifica aquí para ajustar el tamaño de la vista previa de la imagen */
    border-radius: 10px;
    /* Borde redondeado */
    position: none;
    /* Posición absoluta */
    top: 50%;
    /* Centrar verticalmente */
    left: -0px;
    /* Mover hacia la izquierda */
    /* Ajusta aquí para mover la vista previa de la imagen */
    transform: translateY(-50%);
    /* Centrar verticalmente */
    display: none;
    /* Ocultar inicialmente */
    margin-top: 60px;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        background-color: #001529;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar.open {
        display: block;
    }
    .sidebar ul li {
        padding: 10px 20px;
    }
    .sidebar ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    .sidebar ul li a:hover {
        background-color: #00274C;
    }
    main {
        margin-left: 0;
        padding: 1rem;
    }
    #menu-toggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        color: #5f5757;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
        margin: auto;
        padding: 5%;
        flex-direction: column;
    }
    .column {
        padding: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="submit"] {
        margin-bottom: 20px;
    }
    #file-preview {
        margin-top: 60px;
    }
}